# Built-in Data Structures, Functions, and Files

### Tulpe

In [2]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [4]:
tup = (4, 5, (6, 7))
a, b, (c, d) = tup
c

6

In [7]:
a, b = 1, 2
a, b = b, a
a

2

In [13]:
value = [1,2,3,4]
value1 = 3
print("{0}, {1}, {2}".format(id(value), id(value1), value))

4531932488, 4494089648, [1, 2, 3, 4]

In [14]:
value, value1 = value1, value
print("{0}, {1}, {2}".format(id(value), id(value1), value))

4494089648, 4531932488, 3

In [1]:
# A common use of variable unpacking is iterating over sequences of tuples or lists
seq=[(1,2,3),(4,5,6),(7,8,9)]

for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [4]:
values=1,2,3,4,5
type(values)     # tuple

a, b, *rest = values
type(rest)       # list
rest

[3, 4, 5]

### List

###### Concatenating and combining list

In [16]:
# Concatenating list
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [17]:
# Extend list
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [43]:
# Note that list concatenation by addition is a comparatively expensive operation 
# since a new list must be created and the objects copied over. Using extend to 
# append elements to an existing list, especially if you are building up a 
# large list, is usually preferable. Thus,
everything = []
list_of_lists = [[4], [None], ['foo'], [7, 8], [(2, 3)]] * 1000

def extendEverything(everything, list_of_lists):
    for chunk in list_of_lists:
        everything.extend(chunk)
        

%timeit extendEverything(everything, list_of_lists)

620 µs ± 13.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [44]:
# is faster than the concatenative alternative below:
everything = []
list_of_lists = [[4], [None], ['foo'], [7, 8], [(2, 3)]] * 1000
def concatEverything(everything, list_of_lists):
    for chunk in list_of_lists:
        everything = everything + chunk
        

%timeit extendEverything(everything, list_of_lists)

615 µs ± 28.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

###### Binary search and maintaining a sorted list

In [1]:
# The built-in bisect module implements binary search and insertion into a sorted list.
import bisect

In [2]:
c = [1,2,2,2,3,4,7]

In [3]:
bisect.bisect(c, 2)

4

In [4]:
# The bisect module functions do not check whether the list is sor‐ ted, 
# as doing so would be computationally expensive
c

[1, 2, 2, 2, 3, 4, 7]

###### Slicing

In [5]:
seq=[7,2,3,7,5,6,0,1]

In [6]:
# A step can also be used after a second colon to, say, take every other element
seq[::2]

[7, 3, 5, 0]

In [8]:
# A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple
seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]

### Built-in Sequence Functions

###### enumerate

In [4]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[i] = v
    # mapping[v] = i
mapping

{0: 'foo', 1: 'bar', 2: 'baz'}

###### zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples

In [7]:
zipped?

In [8]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [9]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [10]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [11]:
# Another way to think about this is 
# converting a list of rows into a list of columns. 
# The syntax, which looks a bit magical, is...
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)

In [12]:
first_names

('Nolan', 'Roger', 'Schilling')

In [13]:
last_names

('Ryan', 'Clemens', 'Curt')

### Dictionary

###### Creating dicts from sequences

In [16]:
# mapping = {}
# for key, value in zip(key_list, value_list):
#     mapping[key] = value
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

###### Default values

In [18]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0] 
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [21]:
by_letter.setdefault??